# Only the indianavi_s3_n16r8_debug build, see sdkconfig.defaults

CONFIG_ESP_SLEEP_EVENT_CALLBACKS=y
CONFIG_ESP_SLEEP_GPIO_RESET_WORKAROUND=n
CONFIG_ESP_SYSTEM_PANIC_PRINT_HALT=y
CONFIG_PM_SLP_DISABLE_GPIO=y
